/dygraph-canvas.js
/dygraph-combined.js
/dygraph-dev.js
/dygraph-gviz.js
/dygraph-interaction-model.js
/dygraph-layout.js
/dygraph-options-reference.js
/dygraph-range-selector.js
/dygraph-tickers.js
/dygraph-utils.js
/temperature-sf-ny.js
