<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <description>TwitterSets Demo Program</description>
  <display-name>TwitterSets Demo</display-name>
  <servlet>
    <servlet-name>tsets</servlet-name>
    <servlet-class>main.CopyOfTwitterSetsServlet_back</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tsets</servlet-name>
    <url-pattern>/CopyOfTwitterSetsServlet_back</url-pattern>
  </servlet-mapping>
</web-app>